<footer class="items-center p-4 footer bg-neutral text-neutral-content flex fixed bottom-0 justify-between w-10/12 self-center">
    <div class="flex items-center">
        <img src="{{ asset('favicon.svg') }}" width="24" height="24"/>
        <p class="ml-2">Copyright © 2021 - All right reserved</p>
    </div>
    <div><a href="{{ path('privacy') }}" target="_blank" rel="noopener">Privacy policy</a></div>
    <div class="grid-flow-col gap-4 md:place-self-center md:justify-self-end inline-flex">
        <a href="https://github.com/artandor/multistream-tools" target="_blank" rel="noopener">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/>
            </svg>
        </a>
        <a href="https://github.com/artandor/multistream-tools/issues" target="_blank" rel="noopener">
            <svg id="Layer_1" height="24" viewBox="0 0 512 512" width="24" xmlns="http://www.w3.org/2000/svg"
                 data-name="Layer 1">
                <path d="m337.533 34.477-48.9 31.581a5.982 5.982 0 0 0 -1.781 1.779l-21.081 32.551a6 6 0 1 0 10.073 6.522l20.381-31.47 47.817-30.883a6 6 0 1 0 -6.51-10.08z"/>
                <path d="m165.932 36.262a6 6 0 0 0 1.785 8.3l47.817 30.878 20.381 31.47a6 6 0 1 0 10.072-6.522l-21.08-32.551a5.994 5.994 0 0 0 -1.781-1.779l-48.9-31.581a6 6 0 0 0 -8.294 1.785z"/>
                <path d="m298.16 145h-36.16v138.793l78-77.649v-20.444c0-22.807-19.029-40.7-41.84-40.7z"/>
                <path d="m221.817 133h68.125c-4.63-10-18.176-25.693-34.062-25.693s-29.433 15.693-34.063 25.693z"/>
                <path d="m127.915 322.218c0 48.153 31.474 85.9 50.2 104.113 25.76 25.056 53.885 39.551 71.885 42.595v-168.164l-83.7-83.636c-24.421 27.632-38.385 65.551-38.385 105.092z"/>
                <path d="m250 145h-36.4c-22.811 0-41.6 17.893-41.6 40.7v20.44l78 77.649z"/>
                <path d="m345.577 217.126-83.577 83.636v168.338c17-2.52 45.131-16.128 72.255-42.749 18.543-18.2 49.65-55.926 49.65-104.132 0-39.541-13.905-77.46-38.328-105.093z"/>
                <path d="m447.918 478.386a6 6 0 0 0 2.146-11.807c-1.354-.246-7.26-4.31-16.319-19.24-6.589-10.861-12.144-23.208-13.508-30.026-3.653-18.267-42.635-27.061-50.413-28.639a6 6 0 0 0 -2.386 11.761c18.72 3.809 39.675 12.445 41.032 19.231 2.93 14.653 23.758 55.867 39.448 58.72z"/>
                <path d="m445.989 303.581c-1.354-.247-7.26-4.31-16.318-19.241-6.59-10.86-12.145-23.208-13.508-30.026-3.654-18.267-42.637-27.061-50.414-28.638a6 6 0 0 0 -2.385 11.761c25.288 5.128 40.078 14.463 41.032 19.23 2.93 14.653 23.755 55.867 39.447 58.72a6 6 0 0 0 2.146-11.806z"/>
                <path d="m58.125 310.558a5.992 5.992 0 0 0 6.976 4.829c15.69-2.853 36.516-44.067 39.448-58.72 1.356-6.786 22.312-15.422 41.033-19.231a6 6 0 0 0 -2.387-11.76c-7.777 1.577-46.76 10.371-50.414 28.638-1.363 6.818-6.919 19.166-13.508 30.026-9.058 14.931-14.964 18.994-16.319 19.241a6 6 0 0 0 -4.829 6.977z"/>
                <path d="m57.106 473.556a5.992 5.992 0 0 0 6.976 4.83c15.69-2.853 36.517-44.067 39.448-58.72 1.357-6.786 22.312-15.422 41.032-19.231a6 6 0 0 0 -2.386-11.761c-7.778 1.578-46.76 10.372-50.413 28.639-1.364 6.818-6.919 19.165-13.508 30.026-9.059 14.93-14.965 18.994-16.319 19.24a6 6 0 0 0 -4.83 6.977z"/>
                <path d="m370.777 155.365 25.049-48.17 27.471-3.662a6 6 0 0 0 -1.586-11.895l-30.563 4.075a6 6 0 0 0 -4.53 3.179l-24.963 48.008-25.935 2.2a6 6 0 0 0 .5 11.979c.17 0 .341-.008.514-.022l29.227-2.483a6 6 0 0 0 4.816-3.209z"/>
                <path d="m124.559 98.892a6 6 0 0 0 -4.531-3.179l-30.562-4.075a6 6 0 0 0 -1.586 11.895l27.471 3.662 25.048 48.17a6 6 0 0 0 4.816 3.211l29.226 2.483c.173.014.344.022.515.022a6 6 0 0 0 .5-11.979l-25.936-2.2z"/>
            </svg>
        </a>
        <a href="https://www.patreon.com/multistreamtools" target="_blank" rel="noopener">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" width="24" height="24"
                 fill="currentColor">
                <path fill-rule="evenodd"
                      d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                      clip-rule="evenodd"/>
            </svg>
        </a>
    </div>
</footer>