{% extends "base.html.twig" %}

{% block body %}
    <div>
        <h1>POLITIQUE DE PROTECTION DES DONNEES PERSONNELLES</h1>

        <p>Dernière mise à jour : September 19, 2021</p>

        <div class="mb-3">
            <p>Objet : Multistream Tools</p>

            <p>Cette Politique de protection des Données Personnelles s’applique à toutes les informations personnelles
                traitées à l’occasion de l'utilisation de Multistream Tools.</p>

            <p>Elle a en ce sens pour objet de définir les conditions dans lesquelles vos données personnelles seront
                collectées et utilisées lorsque vous utiliserez l’application et ses Services associés. La présente
                Politique de
                protection des Données Personnelles explique également les droits que vous pouvez avoir sur ces
                informations
                personnelles.</p>

            <p>Les données à caractère personnel recueillies lors de l’utilisation de l’application et de ses Services
                associés
                font l'objet d'un traitement informatisé. Ces données sont traitées de manière transparente,
                confidentielle
                et
                sécurisée.</p>

            <p>Ce traitement de données à caractère personnel est régit :</p>

            <ul>
                <li>Par la loi n°78-17 du 6 janvier 1978 modifiée relative à l’informatique, aux fichiers et aux
                    libertés
                    (ci-après « loi IEL »)
                </li>

                <li>Par le règlement (UE) 2016/679 du parlement européen et du conseil du 27 avril 2016 (ci-après « RGPD
                    »).
                </li>
            </ul>
        </div>


        <div class="mb-3">
            <p>En accédant ou en utilisant l’application, vous indiquez avoir lu, compris et accepté la présente
                Politique
                de
                protection des Données Personnelles et que vous acceptez de vous conformer et d’être légalement lié par
                ces
                présentes conditions. Dans l’éventualité où vous n’accepteriez pas ces conditions, nous vous demandons
                de
                vous
                abstenir d'utiliser l’application.</p>
        </div>

        <div class="mb-3">
            <h2>Responsable du traitement des données :</h2>

            <p>Multistream Tools.</p>
        </div>

        <div class="mb-3">
            <h2>Traitement des données personnelles :</h2>

            <p>Les données personnelles peuvent être librement fournies par l’Utilisateur, ou, en cas de données
                d’utilisation,
                collectées automatiquement lorsque vous utilisez cette application. Sauf indication contraire, toutes
                les
                données demandées sont obligatoires et leur absence peut rendre impossible la fourniture des Services.
                Dans
                les
                cas où il est précisé que certaines données ne sont pas obligatoires, les Utilisateurs sont libres de ne
                pas
                les
                communiquer sans entraîner de conséquences sur la disponibilité ou le fonctionnement du Service. Les
                Utilisateurs sont responsables de toute donnée personnelle de tiers obtenue, publiée ou communiquée et
                confirment qu’ils obtiennent le consentement du tiers pour fournir les données à Multistream Tools.</p>
        </div>

        <div class="mb-3">
            <p>Les données à caractère personnel collectées sont les suivantes :</p>

            <ul>
                <li>
                    Pseudonyme
                </li>
                <li>
                    Adresse e-mail
                </li>
            </ul>
        </div>

        <div class="mb-3">
            <p>Elles sont collectées pour les finalités suivantes :</p>

            <ul>
                <li>
                    Pour fournir et exploiter les Services – Base légale : Exécution d’un contrat
                </li>
                <li>
                    Pour développer, personnaliser, étendre et améliorer nos Services, sur la base des préférences, de
                    l’expérience et des difficultés communes ou personnelles des Utilisateurs – Base légale : Exécution
                    d’un
                    contrat
                </li>
                <li>
                    Pour répondre aux demandes d’application de la loi, protéger ses droits et intérêts (ou ceux de ses
                    Utilisateurs ou de tiers) ainsi que détecter toute activité malveillante ou frauduleuse – Base
                    légale :
                    Intérêt
                    légitime;
                </li>
                <li>
                    Inscription et authentification - Base légale : Exécution d’un contrat.
                </li>
            </ul>
        </div>

        <div class="mb-3">
            <h3>Durée de conservation des données :</h3>

            <p>Les Données personnelles sont traitées et conservées aussi longtemps que requis pour la finalité pour
                laquelle
                elles ont été collectées.</p>

            <p>Par conséquent :</p>

            <p>Les Données personnelles collectées à des fins liées à l'exécution d'un contrat entre Multistream Tools
                et
                l'Utilisateur doivent être conservées jusqu'à la pleine exécution du contrat.</p>

            <p>Les Données personnelles collectées aux fins des intérêts légitimes de Multistream Tools doivent être
                conservées aussi longtemps que nécessaire pour atteindre ces objectifs.</p>

            <p>Multistream Tools peut être autorisé à conserver des Données personnelles plus longtemps chaque fois que
                l’Utilisateur a donné son consentement à un tel traitement, tant que ce consentement n’est pas retiré.
                En
                outre,
                Multistream Tools peut être obligé de conserver des Données personnelles plus longtemps chaque fois que
                cela
                est
                requis pour l'exécution d'une obligation légale ou sur ordre d'une autorité. Une fois la période de
                conservation
                expirée, les Données personnelles seront supprimées.</p>
        </div>

        <div class="mb-3">
            <h3>Sécurité des données :</h3>

            <p>Multistream Tools prend les mesures de sécurité appropriées afin d’empêcher l’accès, la divulgation, la
                modification ou la destruction non autorisés des Données. Le traitement des Données est effectué à
                l’aide
                d’ordinateurs ou d’outils informatiques, en suivant les procédures et les modes organisationnels
                étroitement
                liés aux finalités indiquées. Outre Multistream Tools, les Données peuvent être accessibles, dans
                certains
                cas,
                à
                certaines catégories de personnes en charge du fonctionnement de cette Application ou à des parties
                externes
                (telles que les fournisseurs tiers de services techniques, les services de messagerie, les fournisseurs
                d’hébergement, les entreprises informatiques).</p>
        </div>
        <div class="mb-3">
            <h3>Droit d’accès de l’utilisateur :</h3>

            <p>Conformément au règlement européen (UE) 2016/679 du 27 avril 2016 relatif à la protection des personnes
                physiques à l'égard du traitement des données à caractère personnel, et à la loi "Informatique, fichiers
                et
                libertés" n° 78-17 du 6 janvier 1978 modifiée vous disposez, selon la base légale sur laquelle se fonde
                le
                traitement de vos données, d'un droit d'accès, d'opposition, de rectification, d'effacement ou de
                limitation
                de
                traitement aux données vous concernant.</p>

            <p>Si vous souhaitez exercer ces droits et obtenir une communication des informations vous concernant,
                veuillez
                nous contacter par mail via nicolas.mylle.pro[at]gmail.com</p>

            <p>Si vous estimez, après nous avoir contactés, que vos droits Informatique et Libertés ne sont pas
                respectés,
                vous
                pouvez adresser une réclamation en ligne à la CNIL : www.cnil.fr ou par courrier postal ; la CNIL, 3
                Place
                de
                Fontenoy – TSA 80715 – 75334 PARIS CEDEX 07.</p>
        </div>
        <div class="mb-3">
            <h3>Modifications de la présente politique de protection des données personnelles :</h3>

            <p>Multistream Tools se réserve le droit d'apporter des modifications à la présente politique de protection
                des
                données personnelles, à tout moment, en informant ses Utilisateurs sur cette page. Il est fortement
                recommandé
                de consulter cette page fréquemment, en se référant à la date de la dernière modification indiquée en
                bas.</p>
        </div>
    </div>
{% endblock body %}