<nav class="bg-gray-900 w-20 h-screen fixed overflow-hidden justify-between flex flex-col ">
    <div class="mt-10 mb-10">
        <div class="mt-10">
            <ul>
                <li class="mb-6">
                    <a href="{{ path('home') }}">
                      <span>
                          <svg class="fill-current h-5 w-5 text-gray-300 mx-auto hover:text-green-500 "
                               viewBox="0 0 24 24"
                               fill="none"
                               xmlns="http://www.w3.org/2000/svg"
                          >
                              <path
                                      fill-rule="evenodd"
                                      clip-rule="evenodd"
                                      d="M11 17H4C2.34315 17 1 15.6569 1 14V6C1 4.34315 2.34315 3 4 3H20C21.6569 3 23 4.34315 23 6V14C23 15.6569 21.6569 17 20 17H13V19H16C16.5523 19 17 19.4477 17 20C17 20.5523 16.5523 21 16 21H8C7.44772 21 7 20.5523 7 20C7 19.4477 7.44772 19 8 19H11V17ZM4 5H20C20.5523 5 21 5.44772 21 6V14C21 14.5523 20.5523 15 20 15H4C3.44772 15 3 14.5523 3 14V6C3 5.44772 3.44772 5 4 5Z"
                                      fill="currentColor"
                              />
                        </svg>
                      </span>
                    </a>
                </li>
                <li class="mb-6">
                    <a href="{{ path('updateStreamInfos') }}">
                      <span>
                        <svg class="fill-current h-5 w-5 mx-auto text-gray-300 hover:text-green-500"
                             viewBox="0 0 24 24">
                            <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M21.2635 2.29289C20.873 1.90237 20.2398 1.90237 19.8493 2.29289L18.9769 3.16525C17.8618 2.63254 16.4857 2.82801 15.5621 3.75165L4.95549 14.3582L10.6123 20.0151L21.2189 9.4085C22.1426 8.48486 22.338 7.1088 21.8053 5.99367L22.6777 5.12132C23.0682 4.7308 23.0682 4.09763 22.6777 3.70711L21.2635 2.29289ZM16.9955 10.8035L10.6123 17.1867L7.78392 14.3582L14.1671 7.9751L16.9955 10.8035ZM18.8138 8.98525L19.8047 7.99429C20.1953 7.60376 20.1953 6.9706 19.8047 6.58007L18.3905 5.16586C18 4.77534 17.3668 4.77534 16.9763 5.16586L15.9853 6.15683L18.8138 8.98525Z"
                                    fill="currentColor"
                            />
                            <path
                                    d="M2 22.9502L4.12171 15.1717L9.77817 20.8289L2 22.9502Z"
                                    fill="currentColor"
                            />
                        </svg>
                      </span>
                    </a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="mb-6">
                        <a href="{{ path('admin') }}">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 class="fill-current h-5 w-5 mx-auto text-gray-300 hover:text-green-500"
                                 viewBox="0 0 24 24" fill="none"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"/>
                            </svg>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

